#profile.span-13
  .span-3
    %h4= answers_link
  .span-7
    %h4
  .span-3.last
    %h4= questions_link

  .span-13
    %ul.talk= render :partial => 'home/answer', :collection => @list
    #paginate
      =will_paginate @list

.span-6.last
  .box
    .clearfix
      %h4="#{@user.login}的头像"
      =image_tag(@user.head, :class => "head")
    .clearfix
      %h1
      #user_score.clearfix==当前积分：#{@user.score}
      %h1
      .clearfix="注册时间：#{short_time(@user.created_at)}"
      .clearfix="最近登录：#{short_time(@user.updated_at)}"
      %h1
      .clearfix="问题数：#{@user.questions.size}"
      .clearfix="回答数：#{@user.answers.size}"
  .box
    = render :partial => 'home/friends', :object => @friends_list
