#profile.span-13
  %h4
    = answers_link
    &nbsp;&nbsp;
    = questions_link
  %ul.talk= render :partial => 'home/answer', :collection => @list
  #paginate
    =will_paginate @list

.span-6.last
  .box
    .clearfix
      %h4="#{@user.login}的头像"
      =image_tag(@user.head, :class => "head")
    .clearfix
      %h1
      #user_score.clearfix==当前积分：#{@user.score}
      %h1
      .clearfix="注册时间：#{short_time(@user.created_at)}"
      .clearfix="最近登录：#{short_time(@user.updated_at)}"
      %h1
      .clearfix="问题数：#{@user.questions.size}"
      .clearfix="回答数：#{@user.answers.size}"
      .shareit= render :partial => 'home/shareit', :locals => { :path => user_url(@user), :title => "#{@user.login}在玩真心话网", :show => "收藏分享TA"}
  .box
    = render :partial => 'home/friends', :object => @friends_list
