#profile.span-13
  = link_to "我也玩", new_answer_path, :class => "btnPlay strong large"
  %h4{:title => '只显示前10条记录'}="大家对#{@user.login}说......"
  %ul.talk= render :partial => 'home/answered_question', :collection => @his_answered_question_list
  %h4{:title => '只显示前10条记录'}="#{@user.login}刚说了......"
  %ul.talk= render :partial => 'home/answered_question', :collection => @his_answer_list

.span-6.last
  .box
    .clearfix
      %h4="#{@user.login}的头像"
      =image_tag(@user.head, :class => "head")
    .clearfix
      %h1
      .clearfix="注册时间：#{short_time(@user.created_at)}"
      .clearfix="最近登录：#{short_time(@user.updated_at)}"
      %h1
      .clearfix="问题数：#{@user.questions.size}"
      .clearfix="回答数：#{@user.answers.size}"