%h4 真心话网积分规则
%span 积分可用于以下功能
%ol
  %li==玩一次加#{PLAY_SCORE}分
  %li==发送消息减#{SEND_MSG_SCORE}分
  %li==加好友减#{ADD_FRIEND_SCORE}分
  %li==顶一下减#{POPULATE_SCORE}分
  %li==违规提问或回答扣#{PUNISH_SCORE}分
  %li 多次违规积分清零
  %li 积分小于0自动禁用帐号
