#newest.span-13
  = link_to "开始玩", new_answer_path, :id => "play", :class => "btn_play strong large", :rel => "facebox"
  - if logged_in?
    %h4{:title => '这里显示其他人对你说的真心话(最近1条，点击可查看更多)'}=link_to "谁刚接到你的问题......", user_question_path(current_user), :target => '_blank'
    %ul#my.talk= render :partial => 'answered_question', :collection => @user_answered_question_list
    %ul#msg_relate{:title => "最近发送过消息的..."}
      = render :partial => 'user', :collection => User.find(session[:msg_relate]) if session[:msg_relate]
    .clearfix
    = render :partial => 'message', :locals => { :message => @message } if @message

  %h4 大家刚说了......
  %ul#all.talk= render :partial => 'answer', :collection => @answer_list
  #paginate
    =will_paginate @answer_list

.span-6.last
  .box
    = render :partial => 'home/can'
    %h4=link_to "查看顶得最多", questions_path, :target => '_blank'
  .box
    - if logged_in?
      .clearfix
        %h4
          当前积分:
          %span#user_score=current_user.score
          %span#user_id.hide=current_user.id
        .split
        %h4{:title => '你可以上传一张图片'}  给自己定制头像
        =image_tag(current_user.head, :class => "current_head")
        %span.quiet 最大上传2M图片
        =error_messages_for :user
        - form_for current_user, :html => { :multipart => true } do |f|
          =f.file_field :photo, :size => 1
          =submit_tag '提交', :class => "button", :id => "photo_commit", :name => "photo_commit", :disable_with => "提交中..."
      %p.clearfix
        %h4=link_to "查看历史记录", user_question_path(current_user), :target => '_blank'
      %p.clearfix
        %h4{:title => '你问的内容还没有被回答时就显示在这里'} 你问了......
        %ol#my_question= render :partial => 'my_question', :collection => @user_unanswer_question_list
    - else
      = render :partial => 'home/how_to_play'
  .box
    %h4 好友列表
    %ul.sidebar_users
      = render :partial => 'user', :collection => @friends_list
  .clear
  .box
    %h4{:title => "24小时内玩过真心话的会员"}==今天#{@today_users_size}人在玩 TOP#{TODAY_USER_TOP_MAX}:
    %ul#today_users
      = render :partial => 'user', :collection => @today_users
  .clearfix
  .box
    = render :partial => 'home/tip'
  .clearfix
  .box
    = render :partial => 'home/rule'
  .clearfix
  .box
    = render :partial => 'home/score'
-unless params[:page] && params[:page] != '1'
  :javascript
    j('#play').ajaxComplete(function(evt,request,settings){
      completed = true;
    });
    j('#all').everyTime(interval, getLatest);
-if logged_in?
  :javascript
    j('#msg_relate').everyTime('#{MSG_INTERVAL}', getMsg);
