#newest.span-13
  = link_to "我敢玩", new_answer_path, :id => "play", :class => "btn_play strong large", :rel => "facebox"
  - if logged_in?
    %h4 他们告诉你......
    %ul.talk= render :partial => 'answered_question', :collection => @user_answered_question_list
  %h4 大家刚说了......
  %ul.talk= render :partial => 'answered_question', :collection => @question_list

.span-6.last
  .box
    - if logged_in?
      .clearfix
        %h4 个性化头像
        =image_tag(current_user.head, :class => "head")
        %span.quiet 最大上传2M图片
        =error_messages_for :user
        - form_for current_user, :html => { :multipart => true } do |f|
          =f.file_field :photo, :size => 1
          =submit_tag '提交', :class => "button", :id => "photo_commit", :name => "photo_commit"
      %p.clearfix
        %h4 你问了......
        %ol
          - @user_unanswer_question_list.each do |question|
            %li
              %span= question.content
              %span.quiet= time_ago_in_words(question.created_at)
    - else
      %h4 怎么玩真心话游戏
      %ul
        %span 规则：
        %li 小李问了一个问题
        %li 另一个人要如实回答
        %li 然后他再问一个新问题
        %li 下个人回答时提出新问题
      %ul
        %span 举个例子：
        %li 小李问：你晚上一个人走在街上怕不怕的？
        %li 另一个人回答:不怕的。
        %li 然后他再问:你现在最想的是谁？
        %li 下个人回答时提出新问题
      = link_to '忘记密码？', new_password_reminder_path
