#newest.span-13
  = link_to "开始玩", new_answer_path, :id => "play", :class => "btn_play strong large", :rel => "facebox"
  - if logged_in?
    %h4{:title => '这里显示其他人对你说的真心话(最近1条，点击可查看更多)'}=link_to "谁刚接到你的问题......", user_question_path(current_user), :target => '_blank'
    %ul#my.talk= render :partial => 'answered_question', :collection => @user_answered_question_list
    %ul#msg_relate{:title => "最近发送过消息的..."}
      = render :partial => 'user', :collection => User.find(session[:msg_relate]) if session[:msg_relate]
    .clearfix
    = render :partial => 'message', :locals => { :message => @message } if @message

  %h4 大家刚说了......
  %ul#all.talk= render :partial => 'answer', :collection => @answer_list
  #paginate
    =will_paginate @answer_list

.span-6.last
  .box
    %h4 在这里你可以......
    %ul
      %li 更深入地了解朋友
      %li 寻找自己与他人的差别
  .box
    - if logged_in?
      .clearfix
        %h4
          当前积分:
          %span#user_score=current_user.score
          %span#user_id.hide=current_user.id
        .split
        %h4{:title => '你可以上传一张图片'}  给自己定制头像
        =image_tag(current_user.head, :class => "current_head")
        %span.quiet 最大上传2M图片
        =error_messages_for :user
        - form_for current_user, :html => { :multipart => true } do |f|
          =f.file_field :photo, :size => 1
          =submit_tag '提交', :class => "button", :id => "photo_commit", :name => "photo_commit", :disable_with => "提交中..."
      %p.clearfix
        %h4=link_to "查看历史记录", user_question_path(current_user), :target => '_blank'
      %p.clearfix
        %h4{:title => '你问的内容还没有被回答时就显示在这里'} 你问了......
        %ol#my_question= render :partial => 'my_question', :collection => @user_unanswer_question_list
    - else
      %h4 怎么玩真心话游戏
      %span 规则：
      %ul
        %li 小李问了一个问题
        %li 另一个人要如实回答
        %li 然后他再问一个新问题
        %li 下个人回答时提出新问题
      %span 举个例子：
      %ul
        %li 小李问：你晚上一个人走在街上怕不怕的？
        %li 另一个人回答:不怕的。
        %li 然后他再问:你现在最想的是谁？
        %li 下个人回答时提出新问题
  .box
    %h4 好友列表
    %ul.sidebar_users
      = render :partial => 'user', :collection => @friends_list
  .clear
  .box
    %h4{:title => "24小时内玩过真心话的会员"}==今天#{@today_users_size}人在玩 TOP#{TODAY_USER_TOP_MAX}:
    %ul#today_users
      = render :partial => 'user', :collection => @today_users
  .clearfix
  .box
    %h4 小提示
    %ul
      %li 接到的问题是随机的，提问后不一定立即有人回答，请耐心等侍
      %li 鼠标移至用户头像，可以给他发消息
      %li 
        %span 有建议或问题点这
        %span=link_to "豆瓣反馈贴", "http://www.douban.com/group/topic/6130670/?start=400", :target=>"_blank"
        %span=link_to "贴吧反馈贴", "http://tieba.baidu.com/f?kz=569207755", :target=>"_blank"
  .clearfix
  .box
    %h4 真心话网规则
    %span 网站将屏蔽以下内容(多次违规将禁用帐号)
    %ol
      %li 提问内容不是问题的
      %li 提问内容包含用户名的
      %li 提问内容多次重复的
      %li 提问内容为"你呢?"，"我下了"，"你吃了吗"之类的
  .clearfix
  .box
    %h4 真心话网积分规则
    %span 积分将用于日后的好友、指定好友回答等功能
    %ol
      %li==玩一次加#{PLAY_SCORE}分
      %li==发送消息减#{SEND_MSG_SCORE}分
      %li==加好友减#{ADD_FRIEND_SCORE}分
      %li==违规提问或回答扣#{PUNISH_SCORE}分
      %li 多次违规积分清零
      %li 积分小于0自动禁用帐号
-unless params[:page] && params[:page] != '1'
  :javascript
    j('#play').ajaxComplete(function(evt,request,settings){
      completed = true;
    });
    j('#all').everyTime(interval, getLatest);
-if logged_in?
  :javascript
    j('#msg_relate').everyTime('#{MSG_INTERVAL}', getMsg);
