#get_question
  -remote_form_for :answer, :url => answers_path do |f|
    = hidden_field_tag 'previou_question', @unanswer_question.id
    .clearfix
    =image_tag(@unanswer_question.user.head, :class => "head") 
    %a= @unanswer_question.user.login
    %span= @unanswer_question.content
    .clearfix
    =image_tag(current_user.head, :class => "head") 
    = text_area_tag 'answer[content]', "在这里输入回答内容", :id => 'answer_content', :rows => 3
    = text_area_tag 'question[content]', "在这里输入提问内容", :id => 'question_content', :class => "question"
    %span.tip.quiet 请遵守游戏规则，无效问题、回答将被屏蔽
    .clearfix
    #time_warning
      请在
      %span#time_remain{:max_answer_time=>MAX_ANSWER_TIME}= MAX_ANSWER_TIME
      秒内提交，方便其他人接题
    .clearfix
    = submit_tag '提交', :class => "button", :id => "commit"
