<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>真心话 | 你敢玩吗</title>
    <%= stylesheet_link_tag "blueprint/screen" %>
    <!--[if IE]>
    <%= stylesheet_link_tag "blueprint/ie" %>
    <![endif]-->
    <%= stylesheet_link_tag "default" %>
    <%= javascript_include_tag "prototype", "jquery", "jquery-ui", "jquery.timers", "application" %>
  </head>
  <body>
    <div class="container">
      <div id="header" class="span-19">
        <div class="span-15" id="logo">
          <a href="/" title="返回真心话首页">真心话</a>
        </div>
        
        <div id="navigation" class="span-4 last">
          <ul>
          <%- if logged_in? -%>
            <li>欢迎, <%= h current_user.login %>!</li>
            <li><%= link_to "退出", logout_path %></li>
          <%- else -%>
            <li><%= link_to "登录", login_path %></li>
            <li><%= link_to "注册", signup_path %></li>
          <%- end -%>
          </ul>
        </div>
      </div>
    
      <div id="content" class="span-19">
        <% flash.each do |key, msg| %>
          <%= content_tag :p, msg, :class => "flash #{key}" %>
        <% end %>     
        <%= yield %>
      </div>
      
      <div id="footer" class="span-19">
        <ul>
          <li><a href="/">首页</a></li>
          <li>|</li>
          <li><a href="/aboutus">关于我们</a></li>
        </ul>
      </div>
      
      <%- if development? -%>
        <div class="span-19"><%= render :partial => 'shared/debug' %></div>
      <%- end -%> 
    </div>
    
    <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    var pageTracker = _gat._getTracker("UA-3888191-1");
    pageTracker._setDomainName("www.55true.com");
    pageTracker._initData();
    pageTracker._trackPageview();
    </script>
  </body>
</html>
